<IfModule mod_rewrite.c>
  RewriteEngine On

  #Exclude the craft and test directories from redirection
  RewriteRule ^(craft|test|scripts|data)($|/) - [L]

  #Route everything else to the public directory
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

</IfModule>
